.smallBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
    gap: 1rem;
}

.smallBox p {
    text-align: left;
    flex: 1;

}

.smallBoxChecker {
    width: 4vw;
    height: 4vh;
}
/* 
@media screen and (max-width: 1920px) {
    .smallBox p {
        font-size: 3rem;
    }

    .smallBoxChecker {
        width: 2vw;
        height: 2vh;
    }
    
} */

@media screen and (max-width: 768px) {
    .smallBox p {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 414px) {
    .smallBox p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 375px) {
    .smallBox p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    .smallBox {
        width: 100%;

    }
    
    .smallBox p {
        font-size: 1.5rem;
    }

}