.bar {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid;
    /* position: fixed; */
}

.links {
    width: 40%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right: 1rem;
    position: relative;
}

.links p {
    font-size: 1rem;
    margin: 5px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 2rem;
    width: 40%;
    height: 90%;
}

@media screen and (max-width: 1920px) and (max-height: 1080px) {
    .links p {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 768px) {
    .links p {
        font-size: 1rem;
        margin: 5px;
    }

}

@media screen and (max-width: 414px) {
    .logo {
        width: 40%;
        height: 80%;
    }

    .links p {
        font-size: .85rem;
        margin: 5px;
    }


}

@media screen and (max-width: 375px) {
    .logo {
        width: 40%;
        height: 75%;
    }


}

@media screen and (max-width: 359px) {
    .logo {
        width: 30%;
        height: 80%;
    }
}
