.bar {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: black solid;
    /* position: fixed; */
}

.links {
    width: 40%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links p {
    font-size: 1rem;
    margin: 5px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 40%;
    height: 100%;
}

@media screen and (max-width: 414px) {
    .logo {
        width: 40%;
        height: 80%;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        width: 40%;
        height: 75%;
    }
}

@media screen and (max-width: 359px) {
    .logo {
        width: 30%;
        height: 100%;
    }
}
