.box {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
    border: solid;
    padding: 0 1rem;
    gap: 1rem;
}

.box p {
    text-align: left;
    flex: 1;
}

.checker {
    padding: .5rem;
}