.box {
    display: flex;
    flex-direction: row;
    width: 21vw;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    border: solid;
    padding: 0 1rem;
    gap: 1rem;
}

.box p {
    text-align: left;
    flex: 1;
}

.checker {
    width: 2vw;
    height: 2vh;
}

@media screen and (min-width: 1920px) {
    .checker {
        width: 2vw;
        height: 2vh;
    }

    .box p {
        font-size: 3rem;
    }



}