.box {
    display: flex;
    flex-direction: row;
    width: 21vw;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    border: solid;
    padding: 0 1rem;
    gap: 1rem;
}

.box p {
    text-align: left;
    flex: 1;
}

.checker {
    padding: .5rem;
}

@media (max-width: 1920px) and (max-height: 1080px) {
    .checker {
        padding: 4rem;
    }

}